@model University.Models.Group

@{
    ViewBag.Title = "Добавление группы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление нового игрока</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Группа</legend>
        <p>
            Курс  <br />
            @Html.EditorFor(model => model.StudyYear)
        </p>
        <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.SpecialtyId, ViewBag.Specialties as SelectList)
        </p>
        <p>
            <input type="submit" value="Добавить группу" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку групп", "Groups")
</div>