
@{
    ViewData["Title"] = "Главная страница";
}
<!DOCTYPE html>

<html>
<head>
    <title>Деканат</title>
</head>
<body>
    <h3>Деканат</h3>
    <a href="~/Other/WorksTypes">Типы работ</a>
    <a href="~/Other/Specialties">Специальности</a>
    <a href="~/Other/Subjects">Предметы</a>
    <a href="~/Other/Groups">Группы</a>
</body>
</html>
