@using System.Security.Claims;
@model IEnumerable<University.Models.Student>
@{
    ViewData["Title"] = "Главная страница";
}
<!DOCTYPE html>

<html>
<head>
    <title>Деканат</title>
</head>
<body>
    <h3>Добро пожаловать!</h3>
</body>
</html>