@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Список студентов";
    <link href="~/css/table.css" rel="stylesheet" />
}
<!DOCTYPE html>

<html>
<head>
    <title>Преподаватели</title>
</head>
<body>
    <br />
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Ученая степень</th>
            <th>Email</th>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.FirstName</td>
                <td>@s.SecondName</td>
                <td>@s.AcademicDegree</td>
                <td>@s.Email</td>
            </tr>
        }
    </table>

    <p><a href="~/Lecturers/CreateLecturer">Добавить преподавателя</a></p>
</body>
</html>
